{% extends 'base.html' %}

{% block title %}Adicionar Muda{% endblock %}

{% block content %}
    <div class="container mt-5">
        <h2 class="mb-4">Adicionar Muda</h2>
        <a href="javascript:history.back()" class="btn btn-primary mb-1">Voltar</a>
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        <form method="post" action="{% url 'adicionar_muda' %}">
            {% csrf_token %}

            <div class="form-group row">
                <label for="{{ form.nome.id_for_label }}" class="col-sm-2 col-form-label">Nome:</label>
                <div class="col-sm-10">
                    {{ form.nome }}
                </div>
            </div>

            <div class="form-group row">
                <label for="{{ form.especie.id_for_label }}" class="col-sm-2 col-form-label">Espécie:</label>
                <div class="col-sm-10">
                    {{ form.especie }}
                </div>
            </div>

            <div class="form-group row">
                <label for="{{ form.descricao.id_for_label }}" class="col-sm-2 col-form-label">Descrição:</label>
                <div class="col-sm-10">
                    {{ form.descricao }}
                </div>
            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-success">Adicionar Muda</button>
            </div>
        </form>
    </div>
{% endblock %}
