{% extends 'base.html' %}

{% block title %}Adote uma Árvore{% endblock %}

{% block content %}
<div class="jumbotron">
    <h1 class="display-4">Bem-vindo ao Sistema Replantar de Adoção de Mudas do programa Adote uma Árvore!</h1>
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    <p class="lead">Adote uma árvore e faça a diferença no meio ambiente!</p>
    <hr class="my-4">
    <p>Explore as opções abaixo para começar:</p>
    <a class="btn btn-success btn-lg" href="{% url 'lista_mudas' %}" role="button">Ver Mudas Disponíveis</a>
</div>
{% endblock %}
